

/*body{
	position: relative;
}
table{
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	margin: auto;
}*/


body{
	background-color: grey;
}



table{
	border-collapse: collapse;
	margin: 0 auto;
}


td{
	border: 10px solid #1d1f14;
}


/*************************************************
Column sizes
*************************************************/





td:nth-child(1){
	width: 47px;
}

td:nth-child(2){
	width: 56px;
}

td:nth-child(3){	
	width: 36px;
}

td:nth-child(4){
	width: 120px;
}

td:nth-child(5){
	width: 80px;
}

td:nth-child(6){
	width: 76px;	
}


#fixed_width1{
	width: 78px;
}


#fixed_width2{
	width: 70px;
}

#fixed_width3{
	width: 108px;
}

/*************************************************
Rows sizes
*************************************************/





tr:nth-child(1){
	height: 48px;
}

tr:nth-child(2){
	height: 130px;
}

tr:nth-child(3){
	height: 121px;
}

tr:nth-child(4){
	height: 61px;
}

tr:nth-child(5){
	height: 54px;
}

tr:nth-child(6){
	height: 30px;
}

tr:nth-child(7){
	height: 30px;
}


#fixed_height1{
	height: 210px;
}

#fixed_height2{
	height: 134px;
}





/*************************************************
Borders
*************************************************/

tr:nth-child(1) td{
	border-top: none;
}


tr:nth-child(7) td{
	border-bottom: none;
}

td:first-child{
	border-left: none;
}

td:last-child{
	border-right: none;
}


tr:nth-child(5) td{
	border-bottom: none;
}

#border-bottom{
	border-bottom: 10px solid #1d1f14;
}

.border-bottom-none{
	border-bottom: none;
}









/*************************************************
Colors of cells
*************************************************/


td{
	background-color: white;
}

.yellow{
	background-color: #fff35c;;
}

.orange{
	background-color: #ff5e42;
}


.blue{
	background-color: #202f81;
}

.black{
	background-color: #0a1713;
}